.container {
  display: grid;
  grid-template-columns: repeat(25, 30px);
  grid-template-rows: repeat(25, 30px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 9px;
}

.cell {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 0px;
}
